<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>

<div class="container">
    <h2>Quản lí account</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <% listUser.forEach(function (data) { %>
        <tr>
            <td><%= data.email %></td>
            <td><a href="/loginAsAdmin?email=<%= data.email %>&pass=<%= data.password %>">Login</a></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>
